/* Utility classes for spacing */
@import "../_variables.scss";

@function generateMargin($property, $value) {
  @return (
          "#{str-slice($property, 0, 2)}-#{$value}": (
                  #{$property}: $value
          )
  );
}

@mixin generateUtilities() {
  $properties: (
          "margin-top": "mt",
          "margin-bottom": "mb",
          "margin-left": "ml",
          "margin-right": "mr",
          "margin": "m"
  );

  @each $property, $abbreviation in $properties {
    $sequence: (0,1); // Initial sequence

    @for $i from 1 through 200 {
      $sequence: append($sequence, $i*2); // Append the value to the sequence
    }

    @each $value in $sequence {
      $calculated-value: $value * $spacing-unit; // Calculate the value based on the spacing unit
      $formatted-value: if($value == 0, 0, $calculated-value); // Format value as 0 if it is zero

      $utilities: generateMargin($property, $formatted-value);
      @each $key, $properties in $utilities {
        .#{$abbreviation}-#{$value} {
          @each $property, $value in $properties {
            #{$property}: $value;
          }
        }
      }
    }
  }
}

@include generateUtilities();
