/* Form Components - Tabler-inspired aesthetic */
@import "../../styles/_variables.scss";

/* ============================================
   FORM LABELS & HELPERS
   ============================================ */

.form-label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
  color: $gray-700;
}

.form-text {
  margin-top: 0.25rem;
  font-size: $font-size-sm;
  color: $gray-600;
}

.form-hint {
  font-size: $font-size-xs;
  color: $gray-500;
  margin-top: 0.25rem;
}

/* ============================================
   TEXT INPUTS
   ============================================ */

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-family: $font-family;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: 1.5;
  color: $gray-900;
  background-color: #fff;
  background-clip: padding-box;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  appearance: none;
  transition: all $transition-fast;

  &::placeholder {
    color: $gray-400;
    opacity: 1;
  }

  &:focus {
    color: $gray-900;
    background-color: #fff;
    border-color: $primary;
    outline: 0;
    box-shadow: 0 0 0 3px rgba($primary, 0.1);
  }

  &:disabled,
  &[readonly] {
    background-color: $gray-100;
    opacity: 0.7;
    cursor: not-allowed;
  }
}

// Textarea
textarea.form-control {
  min-height: 100px;
  resize: vertical;
}

// Input sizes
.form-control-sm {
  padding: 0.375rem 0.5rem;
  font-size: $font-size-sm;
  border-radius: $border-radius-sm;
}

.form-control-lg {
  padding: 0.75rem 1rem;
  font-size: $font-size-lg;
  border-radius: $border-radius-lg;
}

/* ============================================
   SELECT
   ============================================ */

.form-select {
  @extend .form-control;
  padding-right: 2.5rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;

  &:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23206bc4' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  }
}

.form-select-sm {
  @extend .form-control-sm;
  padding-right: 2rem;
  background-position: right 0.5rem center;
}

.form-select-lg {
  @extend .form-control-lg;
  padding-right: 3rem;
  background-position: right 1rem center;
}

/* ============================================
   CHECKBOX & RADIO
   ============================================ */

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.75rem;
  margin-bottom: 0.5rem;

  .form-check-input {
    float: left;
    margin-left: -1.75rem;
    width: 1.25rem;
    height: 1.25rem;
    margin-top: 0.125rem;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: $border-width solid $gray-400;
    appearance: none;
    print-color-adjust: exact;
    transition: all $transition-fast;

    &[type="checkbox"] {
      border-radius: $border-radius-sm;
    }

    &[type="radio"] {
      border-radius: 50%;
    }

    &:active {
      filter: brightness(95%);
    }

    &:focus {
      border-color: $primary;
      outline: 0;
      box-shadow: 0 0 0 3px rgba($primary, 0.15);
    }

    &:checked {
      background-color: $primary;
      border-color: $primary;

      &[type="checkbox"] {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
      }

      &[type="radio"] {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
      }
    }

    &:disabled {
      pointer-events: none;
      filter: none;
      opacity: 0.5;
    }
  }

  .form-check-label {
    color: $gray-700;
    cursor: pointer;

    &:hover {
      color: $gray-900;
    }
  }

  &.form-check-inline {
    display: inline-block;
    margin-right: 1rem;
  }
}

/* ============================================
   SWITCH (Tabler style)
   ============================================ */

.form-switch {
  padding-left: 2.5rem;

  .form-check-input {
    width: 2rem;
    margin-left: -2.5rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/%3e%3c/svg%3e");
    background-position: left center;
    border-radius: 2rem;
    transition: background-position $transition-fast;

    &:focus {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23206bc4'/%3e%3c/svg%3e");
    }

    &:checked {
      background-position: right center;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    }
  }
}

/* ============================================
   INPUT GROUPS
   ============================================ */

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;

  > .form-control,
  > .form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
  }

  > .form-control:not(:last-child),
  > .form-select:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > .form-control:not(:first-child),
  > .form-select:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: 1.5;
  color: $gray-700;
  text-align: center;
  white-space: nowrap;
  background-color: $gray-100;
  border: $border-width solid $border-color;

  &:first-child {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    border-right: 0;
  }

  &:last-child {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border-left: 0;
  }
}

/* ============================================
   VALIDATION STATES
   ============================================ */

.is-valid {
  border-color: $success;

  &:focus {
    border-color: $success;
    box-shadow: 0 0 0 3px rgba($success, 0.15);
  }

  ~ .valid-feedback {
    display: block;
  }
}

.is-invalid {
  border-color: $danger;

  &:focus {
    border-color: $danger;
    box-shadow: 0 0 0 3px rgba($danger, 0.15);
  }

  ~ .invalid-feedback {
    display: block;
  }
}

.valid-feedback,
.invalid-feedback {
  display: none;
  margin-top: 0.25rem;
  font-size: $font-size-sm;
}

.valid-feedback {
  color: $success;
}

.invalid-feedback {
  color: $danger;
}

/* ============================================
   RANGE SLIDER
   ============================================ */

.form-range {
  width: 100%;
  height: 1.5rem;
  padding: 0;
  background-color: transparent;
  appearance: none;

  &:focus {
    outline: 0;

    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgba($primary, 0.3);
    }

    &::-moz-range-thumb {
      box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgba($primary, 0.3);
    }
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.5rem;
    color: transparent;
    cursor: pointer;
    background-color: $gray-200;
    border-color: transparent;
    border-radius: 1rem;
  }

  &::-webkit-slider-thumb {
    width: 1.25rem;
    height: 1.25rem;
    margin-top: -0.375rem;
    background-color: $primary;
    border: 0;
    border-radius: 1rem;
    box-shadow: $shadow-sm;
    appearance: none;
    transition: all $transition-fast;

    &:active {
      background-color: darken($primary, 8%);
    }
  }

  &::-moz-range-track {
    width: 100%;
    height: 0.5rem;
    color: transparent;
    cursor: pointer;
    background-color: $gray-200;
    border-color: transparent;
    border-radius: 1rem;
  }

  &::-moz-range-thumb {
    width: 1.25rem;
    height: 1.25rem;
    background-color: $primary;
    border: 0;
    border-radius: 1rem;
    box-shadow: $shadow-sm;
    appearance: none;
    transition: all $transition-fast;

    &:active {
      background-color: darken($primary, 8%);
    }
  }

  &:disabled {
    pointer-events: none;

    &::-webkit-slider-thumb {
      background-color: $gray-400;
    }

    &::-moz-range-thumb {
      background-color: $gray-400;
    }
  }
}

/* ============================================
   FILE INPUT
   ============================================ */

.form-file {
  position: relative;
  display: inline-block;
  width: 100%;

  input[type="file"] {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(2.5rem + 2px);
    margin: 0;
    opacity: 0;
    cursor: pointer;

    &:focus ~ .form-file-label {
      border-color: $primary;
      box-shadow: 0 0 0 3px rgba($primary, 0.1);
    }
  }

  .form-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    height: calc(2.5rem + 2px);
    padding: 0.5rem 0.75rem;
    font-weight: $font-weight-normal;
    line-height: 1.5;
    color: $gray-600;
    background-color: #fff;
    border: $border-width solid $border-color;
    border-radius: $border-radius;

    &::after {
      content: "Browse";
      display: block;
      padding: 0.5rem 0.75rem;
      margin-left: auto;
      color: $gray-700;
      background-color: $gray-100;
      border-left: $border-width solid $border-color;
      border-radius: 0 $border-radius $border-radius 0;
    }
  }
}

/* ============================================
   FORM GROUPS & LAYOUTS
   ============================================ */

.form-group {
  margin-bottom: 1rem;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;

  > .col,
  > [class*="col-"] {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

/* Floating labels */
.form-floating {
  position: relative;

  > .form-control,
  > .form-select {
    height: calc(3.5rem + 2px);
    padding: 1rem 0.75rem;

    &::placeholder {
      color: transparent;
    }

    &:focus,
    &:not(:placeholder-shown) {
      padding-top: 1.625rem;
      padding-bottom: 0.625rem;

      ~ label {
        opacity: 0.65;
        transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
      }
    }
  }

  > label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem 0.75rem;
    pointer-events: none;
    border: $border-width solid transparent;
    transform-origin: 0 0;
    transition: all $transition-fast;
  }
}
